.action-icon-compact {
  &[aria-expanded='true'] {
    & svg {
      filter: contrast(8) invert(1);
    }

    background-color: var(--mantine-primary-color-0);
  }

  border-radius: 28px;
  height: 28px;
  width: 28px;
}

.action-icon-default {
  border-radius: 32px;
  height: 32px;
  width: 32px;
}

.button-icon {
  @mixin larger-than $mantine-breakpoint-md {
    margin-right: 0;
  }
}

.button-label {
  @mixin larger-than $mantine-breakpoint-md {
    display: none;
  }
}

.button-root {
  @mixin larger-than $mantine-breakpoint-md {
    height: 32px;
    padding: 0;
    width: 32px;
  }
}

.group-root {
  gap: 8px;
  justify-content: center;

  @mixin larger-than $mantine-breakpoint-md {
    background: red !important;
  }
}

.menu-dropdown {
  border-radius: 4px;
  min-width: 200px;
}
