.container {
  justify-content: space-between;

  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    flex-direction: column;
    row-gap: 16px;
  }
}

.pagination {
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    display: flex;
    justify-content: center;
  }
}
