.around {
  align-items: center;
  gap: var(--mantine-spacing-xs);
}

.burgerMenu {
  background-color: var(--mantine-color-white);
  border-top: 1px solid;
  border-top-color: var(--mantine-color-gray-2);
  padding: 40px 24px;
}

.burgerSearch {
  :global(.mantine-TextInput-input) {
    padding: 6px 68px 6px 24px;
  }

  margin-top: auto;
}

.containerMobile {
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  position: relative;
  width: 100%;
}

.menu {
  align-items: center;
  gap: var(--mantine-spacing-xl);
  left: 50%;
  margin: auto;
  position: absolute;
  top: 50%;
  translate: -50% -50%;
}

.searchIcon {
  margin-right: 24px;
}

.separator {
  border-color: var(--mantine-color-gray-3);
}
