.buttonLeftRoot {
  padding: 0.667em 3.333em;
}

.buttonLeftModal {
  margin-bottom: 10px;
  margin-right: 10px;
}

.buttonRightRoot {
  padding: 0.667em 3.333em;
}

.modalBody {
  padding: 0;
}

.modalButtonsContainer {
  margin-top: 32px;
}

.modalContent {
  padding: 48px;
}

.modalHeader {
  height: 0;
  padding: 0;
}

.modalTitleContainer {
  margin-left: 12px;
}

.title {
  font-size: 26px;
  font-weight: 700;
}

.cross {
  position: absolute;
  top: -25px;
  right: -25px;
  transform: scale(115%);
}
