/* Root */
.paper {
  &:global(.mrt-table-paper) {
    border: 0;
    border-radius: 24px;
    box-shadow:
      0 3.43489px 2.74791px 0 rgba(0, 0, 0, 0.02),
      0 8.6871px 6.94968px 0 rgba(0, 0, 0, 0.02),
      0 17.72087px 14.1767px 0 rgba(0, 0, 0, 0.03),
      0 36.50164px 29.20132px 0 rgba(0, 0, 0, 0.03),
      0 100px 80px 0 rgba(0, 0, 0, 0.05);
  }

  :global(.mrt-toolbar-internal-buttons) {
    padding-right: 8px;
  }

  tbody tr {
    border-bottom: none;

    &:nth-child(even) {
      background-color: var(--mantine-color-gray-0);
    }
  }

  :global(.mrt-bottom-toolbar) {
    border-top: none;
  }
}

/* Top Bar */
.alertBanner {
  background: var(--mantine-primary-color-filled);
  border: 0;
  border-radius: 0;
  height: 56px;
  padding: 0 16px;

  :global(.mantine-Alert-wrapper),
  :global(.mantine-Alert-body),
  :global(.mantine-Alert-message) {
    height: 100%;
  }
}

.alertToolbar {
  color: var(--mantine-color-white);
  height: 100%;
  max-width: 50%;
  display: flex;
  align-content: center;
  align-items: center;

  button {
    display: none;
  }
}

.internalToolbar {
  align-items: center;
  gap: 10px;
}

.toolbarAction {
  background: var(--mantine-color-white);
}

/* Action Buttons */
.action {
  color: var(--mantine-color-text);
}

.menuButton {
  &[aria-expanded='true'] {
    & svg {
      filter: contrast(8) invert(1);
    }

    background-color: var(--mantine-primary-color-filled);
    border-radius: 4px;
    display: flex;
    height: 28px;
    width: 28px;
  }
}

.rowActions {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 16px;
  opacity: 0;
}

/* Only show action buttons when row is hovered */
.table {
  & tr:hover {
    & :global(.rowActionsRef) {
      opacity: 1;

      & :global(.rowActionsMenuOpenedRef) {
        opacity: 1;
      }
    }
  }
}
