/*Carousel*/

.mantine-Carousel-control {
  height: 42px;
  width: 42px;
}

.mantine-Carousel-control svg {
  color: var(--mantine-primary-color-9);
}

.mantine-Carousel-controls {
  padding: 0 5%;
}

.mantine-Carousel-indicator {
  height: 4px;
  transition-duration: 500ms;
  width: 12px;
}

.mantine-Carousel-indicator[data-active='true'] {
  transition-duration: 500ms;
  width: 32px;
}

.mantine-Carousel-indicators {
  justify-content: flex-end;
  padding: 3% 5%;
}

.mantine-Carousel-root {
  border-radius: 8px;
  overflow: hidden;
}

/*Calendar*/

.mantine-Calendar-calendarHeaderLevel {
  font-weight: 700;
  font-size: 14px;
}

.mantine-Calendar-calendarHeader {
  max-width: none;
  margin-bottom: 25px;
}

.mantine-Calendar-calendarHeaderControlIcon {
  color: var(--mantine-primary-color-9);
}
.mantine-Calendar-calendarHeaderControlIcon[data-direction='previous'] {
  transform: scale(1.8) rotate(90deg);
}

.mantine-Calendar-calendarHeaderControlIcon[data-direction='next'] {
  transform: scale(1.8) rotate(-90deg);
}

.mantine-Calendar-weekday,
.mantine-Calendar-day[data-weekend] {
  color: var(--mantine-color-dark-6);
}

.mantine-Calendar-weekday {
  padding-bottom: 8px;
}

.mantine-Calendar-day {
  height: 50px;
  width: 40px;
  font-size: 14px;
}

.mantine-Calendar-day[selected='true'],
.mantine-Calendar-day[data-selected] {
  background-color: var(--mantine-primary-color-9);
  border-radius: 4px !important;
  color: white;
}

.mantine-Calendar-day:hover {
  background-color: var(--mantine-primary-color-8);
  border-radius: 4px;
  color: white;
}

.mantine-Calendar-monthCell {
  padding: 0 8.5px !important;
}

// General

a {
  color: inherit;
}

body {
  /*noinspection CssInvalidFunction*/
  background-color: light-dark(
    var(--mantine-color-gray-1),
    var(--mantine-color-gray-9)
  );
}

.haring-active:active {
  transform: none;
}

/*noinspection CssInvalidFunction*/
.haring-focus:focus-visible {
  outline: rem(2px) solid var(--mantine-color-orange-5) !important;
  outline-offset: rem(2px) !important;
}

.haring-focus button:focus-visible {
  outline-color: var(--mantine-color-orange-5) !important;
  outline-offset: 2px;
}

.mantine-Input-input:focus,
.mantine-Input-input:focus-within {
  border-color: var(--mantine-color-orange-5);
}

.mantine-Chip-input:focus-visible + .mantine-Chip-label,
.mantine-Rating-input:focus-visible + .mantine-Rating-label,
.mantine-Switch-input:focus-visible + .mantine-Switch-track,
.mantine-SegmentedControl-input:focus:focus-visible
  + .mantine-SegmentedControl-label {
  outline-color: var(--mantine-color-orange-5);
}
