.root {
  background-color: var(--mantine-primary-color-filled);
  box-shadow: 0 0 32px rgb(0, 0, 0, 0.22);
  padding: 24px 32px;
}

.container {
  display: flex;
  gap: 16px;
  align-items: center;
}

.content {
  flex-grow: 1;
}
