.root {
  border-radius: 8px;
  padding: 16px 24px;
  font-size: 14px;
  display: block;
  height: auto;
  width: auto;
}

.rootMd {
  padding: auto;
}

.groupRoot {
  display: flex;
  white-space: wrap;
  display: flex;
}

.number {
  margin: auto 0;
  margin-right: 16px;
  display: block;
  font-size: 34px;
}

.numberMd {
  font-size: 20px;
  margin-right: 12px;
}

.text {
  margin: 0;
  max-width: 123px;
}

.textMd {
  font-weight: 400;
  text-transform: lowercase;
  max-width: 100%;
}
