.accordionChevron {
  &[data-rotate='true'] {
    color: var(--mantine-color-white-0);
  }

  color: var(--mantine-primary-color-9);
}

.accordionContent {
  background: var(--mantine-primary-color-9);
  border-radius: 0 0 8px 8px;
  margin-bottom: 8px;
  padding: 24px;
}

.accordionControl {
  &:hover {
    background: var(--mantine-color-gray-2);
  }

  &[aria-expanded='true'] {
    background: var(--mantine-primary-color-9);
    border-radius: 8px 8px 0 0;
    color: var(--mantine-color-gray-0);
    font-weight: 700;
    margin-bottom: 0;
  }

  background: var(--mantine-color-gray-1);
  border-bottom: 0;
  border-radius: 8px;
  color: var(--mantine-color-gray-9);
  margin-bottom: 8px;
}

.accordionItem {
  border-bottom: none;
}

.arrowFiltersManager {
  color: var(--mantine-color-dark-6);
  margin-left: 6px;
  position: relative;
  top: 2px;
}

.buttonFiltersManager {
  color: var(--mantine-color-dark-6);
  cursor: pointer;
  font-weight: 700;
  vertical-align: middle;
}

.filtersCollapse {
  flex-direction: column;
}

.filtersDesktop {
  display: initial;
}

.filtersManagerModalTitle {
  font-size: 18px;
  font-weight: 700;
}

.filtersMobile {
  display: none;
}

.filtersMobileButton {
  button {
    font-size: 10px;
  }

  display: flex;
  margin-right: 10px;
}

.main {
  overflow-x: hidden;
  width: 100%;
}

.modalBody {
  padding: 0 48px 50px 48px;
}

.modalClose {
  position: relative;
  right: 0;
  top: 0;
}

.modalTitle {
  font-size: 26px;
  font-weight: 700;
  margin-top: 0;
}

.sizeDesktop {
  display: initial;

  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-md {
    display: none;
  }
}

.sizeMobile {
  display: initial;

  /*noinspection CssInvalidAtRule*/
  @mixin larger-than $mantine-breakpoint-md {
    display: none;
  }
}
