.buttonsContainer {
  border-radius: 0.5rem;
  border: 1px dashed black;
}

.buttonsLabel {
  &:empty {
    display: none;
  }

  margin-bottom: 10px;
}

.button {
  &:disabled,
  &[data-disabled] {
    border-color: var(--mantine-color-gray-4);
    background-color: transparent;
  }
}
