.dataInput {
  border: 1px solid var(--mantine-color-gray-2);
  color: var(--mantine-color-dark-filled);
}

.dataInputLabel {
  color: var(--mantine-color-dark-filled);
  font-weight: 600;
  margin-bottom: 4px;
}

.documentListContainer {
  border-radius: 16px;
  padding: 48px 56px;

  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    padding: 24px 16px 32px 16px;
  }
}

.main {
  overflow-x: hidden;
  width: 100%;
}

.periodContainer {
  padding: 6px 0;
}

.select {
  border-radius: 1.5rem;

  input {
    padding: 0 calc(3.125rem / 3) 0 40px;
  }

  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    input {
      font-size: 14px;
      padding: 0 16px;
    }
  }
}

.selectDropdown {
  left: 0 !important;
  max-width: calc(100vw - 48px);
  width: 100% !important;
}

.selectRight {
  width: 1.5rem;
  color: var(--mantine-color-text);
}
