.author {
  font-weight: 600;
}

.children {
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    margin-top: 10px;
  }
  margin-top: 16px;
}

.clickable {
  cursor: pointer;
}

.header {
  display: flex;
}

.headerBottom {
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    font-size: 12px;
    margin: 0;
  }
  /*noinspection CssInvalidAtRule*/
  @mixin larger-than $mantine-breakpoint-sm {
    align-items: center;
  }
  color: var(--mantine-color-dark-3);
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  margin-right: 12px;
}

.headerContent {
  display: flex;
  flex-direction: column;
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    gap: 16px;
  }
  /*noinspection CssInvalidAtRule*/
  @mixin larger-than $mantine-breakpoint-sm {
    gap: 4px;
  }
}

.headerTop {
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    flex-direction: column;
    margin-left: 40px;
  }
  /*noinspection CssInvalidAtRule*/
  @mixin larger-than $mantine-breakpoint-sm {
    align-items: center;
  }
  display: flex;
  flex-wrap: wrap;
}

.icon {
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    height: 24px;
    width: 24px;
  }
  /*noinspection CssInvalidAtRule*/
  @mixin larger-than $mantine-breakpoint-sm {
    height: 38px;
    width: 38px;
  }
}

.iconContainer {
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    height: 24px;
    margin: 8.5px 16px 8.5px 0;
    position: absolute;
  }
  margin-right: 16px;
}

.imageRoot {
  border: 1px solid var(--mantine-color-gray-2);
  border-radius: 16px;
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    display: none;
    margin-top: 16px;
    order: 2;
  }
  /*noinspection CssInvalidAtRule*/
  @mixin larger-than $mantine-breakpoint-sm {
    margin-right: 32px;
    max-width: 165px;
    min-height: 164px;
  }
}

.imageRootMobileDisplayed {
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    display: initial;
  }
}

.mobileImageButton {
  background: transparent;
  border: 0;
  margin-top: 10px;
  /*noinspection CssInvalidAtRule*/
  @mixin larger-than $mantine-breakpoint-sm {
    display: none;
  }
}

.path {
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    font-size: 12px;
  }
  color: var(--mantine-color-dark-6);
  font-weight: 400;
}

.root {
  display: flex;
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    flex-direction: column;
  }
}

.separator {
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    margin: 0 7px;
  }
  margin: 0 12px;
}

.title {
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    font-size: 14px;
    margin: 0;
  }
  display: flex;
  font-size: 18px;
  font-weight: 700;
  margin: 0 16px 0 0;
}
