.element {
  &:not(:last-child):after {
    /*noinspection CssInvalidAtRule*/
    @mixin smaller-than $mantine-breakpoint-sm {
      bottom: -25px;
    }
    border: 1px #e9ecef solid;
    bottom: -41px;
    content: '';
    position: absolute;
    width: 100%;
  }

  position: relative;
}

.list {
  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    gap: 48px;
  }
  gap: 80px;
}
