.container {
  justify-content: space-between;

  /*noinspection CssInvalidAtRule*/
  @mixin smaller-than $mantine-breakpoint-sm {
    flex-direction: column;
    row-gap: 16px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.transparent {
  background-color: transparent;
  border-color: transparent;

  &[data-active='true'] {
    background-color: var(--mantine-primary-color-filled);
  }
}
